body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
}

table {
    border-collapse: collapse;
    text-align: center;
    background: #34495e;
    padding: 10px;
}

td {
    padding: 5px;
}

input {
    width: 95%;
    height: 40px;
    font-size: 18px;
    text-align: right;
}

button {
    width: 60px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.equal {
    width: 95%;
    background-color: orange;
    color: white;
}

.clear {
    background-color: red;
    color: white;
}