
body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */

    background-image: url("1567666.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
background-color : #13232e;
padding : 12px,12px;
height : 50px;
}

label {
    text-align: center;
}

nav a{
color : rgb(247,247,247);
font-family : Arial, Helvetica, sans-serif;
font-size : 25px;
padding : 20px;
text-decoration : none;
transition : 0.5s;
border-radius : 10px;
position:relative;
top: 11px;
}

nav a:hover{
color: rgb(0,0,0)
}

nav a:focus{
color : rgb(0, 27, 177)
}

h1{
font-size: 60px;
}

p{
font-family : Arial, Helvetica, sans-serif;
font-size : 35px;
}

ul li{
font-size: 30px;
}

.marquee { position: relative; width: 100%; overflow: hidden; white-space: nowrap; box-sizing: border-box; } .marquee span { display: inline-block; padding-right: 50px;}

.right-link {
    position: absolute;
    right: 17px;
    top: -10px;
}

.box {
    width: 500px;
    padding: 40px;
    background-color: #132530;
    border: 3px solid #1b7db9;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;   /* THIS centers everything inside */

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"],
input[type="password"] {
  width: 400px;     
  height: 40px;     
  font-size: 16px;  
  padding: 5px 10px;
}

.google-btn {
    display: inline-flex;       
    align-items: center;        
    border: 2px solid #04993d;  
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #08c04f;
    color: #4285F4;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;      
    cursor: pointer;
}

.google-btn img {
    height: 20px;
    width: 20px;
    margin-right: 10px;         
}

.google-btn:hover {
    background-color: #058335; 
}

.SubmitButton {
  width: 400px;      
  height: 70px; 
  margin-top: 20px;     
  font-size: 18px;   
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: #284e8b;
}

